p {
    margin: 10px 0 !important;

}
body {background: rgb(213 230 236)}
.login-container {
    width: 400px;
    margin-top: 50px; 
    text-align: center;
}
.card .card-content {
    background: #d0cccc
}