p {
    margin: 10px 0 !important;

}
body {background: rgb(210 210 210)}
.login-container {
    width: 400px;
    margin-top: 50px; 
    text-align: center;
}
.card .card-content {
    background: #eceaea;
}
.btn-floating.halfway-fab {
    position: absolute;
    right: 10px;
    bottom: -20px;
}
.fa-small {
    font-size: 18px !important;
}
.fab.fa-google.left {
    font-size: 15px;
}
.btn-float {
    float: right;
    margin-right: 10px;
}
