
<h3>Post Comment</h3>
<div class="row">
    <p>post you are replying to:
        <br>Title: {{post.title}}
        <br>Score: {{post.score}}
        </p>
    <form action="/posts/add_comment/{{post._id}}" method="POST" class="col s12">

        <div class="row">
            <div class="input-field">
                <h5>Your Reply:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>